<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        
        <link
            href="../static/normalize.css"
            rel="stylesheet"
        />

        <link
            href="../static/styles.css"
            rel="stylesheet"
        />

        <title>{% block title %}Home{% endblock %}</title>

    </head>
    <body>
    
        <nav>
            <a class="navitem" href="/">Home</a>
            <a class="navitem" href="/combat">Combat</a>
            <a class="navitem" href="/login">Login</a>
            <a class="navitem" href="/logout">Logout</a>
            <a class="navitem" href="/sign-up">Sign-up</a>
        </nav>


        <!-- flashed message box -->
        <!-- not sure if this is the best solution for this here -->
        <label class="message">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category,message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </label>

        <main>
            {% block main %}
            {% endblock %}
        </main>

        <footer>
            created by thisismax<br>
            all rights reserved<br>
            copyright 2022

    </body>
</html>