{% extends "base.html" %}

{% block title %}
Add Encounter
{% endblock %}

{% block main %}

{% if combat %}

    <section>
        Combat: {{ combat.combatName }}
    </section>

    <section>
        <form method="POST">
            <input type="hidden" name="combatantForm" value="addCombatant"/>
            <label for="combatantName">Combatant Name</label>
            <input 
                type="text"
                id="combatantName"
                name="combatantName"
                placeholder="Combatant Name"
            />
            <label for="initiativeBonus">Initiative Bonus</label>
            <input 
                type="number"
                id="initiativeBonus"
                name="initiativeBonus"
                placeholder="0"
            />
            <button type="add">Add</button>
        </form>
    </section>

    <section>
        <form method="POST">
            <input type="hidden" name="combatantForm" value="runCombat"/>
            <input type="submit" name="rollInitiative" value="Roll Initiative" />
            <input type="submit" name="nextCombatant" value="Next" />
        </form>
    </section>

    <section>
        <table>
            <caption class="tableCaption">Combatants</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Combatant</th>
                    <th>Initiative Bonus</th>
                    <th>Initiative</th>
                    <th>Total Damage</th>
                    <th>Damage</th>
                    <th>Move Up</th>
                    <th>Move Down</th>
                    <th>Disable</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for combatant in combat.combatants|sort(attribute="combatPosition",reverse=True) %}
                    <tr>
                        <form method="POST">
                            <input type="hidden" name="combatantForm" value="editCombatant"/>
                            <input type="hidden" name="combatantId" value="{{combatant.id}}"/>
                            <td>
                                {% if combatant.active %}
                                    Active
                                {% endif %}
                            </td>
                            <td>{{combatant.combatantName}}</td>
                            <td>{{combatant.initiativeBonus}}</td>
                            <td>{{combatant.combatPosition|int}}</td>
                            <td>{{combatant.damage}}</td>
                            <td>
                                <input 
                                    type="number"
                                    id="addDamage"
                                    name="addDamage"
                                    placeholder=0
                                />
                                <input type="submit" name="addDamage" value="Add Damage" />
                            </td>
                            <td><input type="submit" name="changePosition" value="Up" /></td>
                            <td><input type="submit" name="changePosition" value="Down" /></td>
                            <td>
                                <input 
                                    type="submit"
                                    name="disable"
                                    value=
                                        {% if combatant.disabled %}
                                            "Enable"
                                        {% else %}
                                            "Disable"
                                        {% endif %}
                                />
                            </td>
                            <td><input type="submit" name="delete" value="Delete" /></td>

                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% else %}
    <section>
        Enter Combat ID:<br>
        There should be a text box here to enter the combat key.<br>
        Or something.
    </section>
{% endif %}
{% endblock %}