{% extends "base.html" %}

{% block title %}
Add Encounter
{% endblock %}

{% block main %}

<section>
    <p><em>Note: Only creators of combats need to sign up. Participating in a combat just requires the link to the combat.</em></p>    
</section>
<section>
    <form method="POST">
        <label for="username">Username</label>
        <input 
            type="text"
            id="username"
            name="username"
            placeholder="username"
        /><br />
        <button type="add">Create Account</button>
    </form>
</section>
{% endblock %}