body {
    background-color: lightgray;
    margin: 10px;
}

nav {
    display: flex;
    background-color: gray;
    color: white;
}

.navitem {
    margin: 10px;
    color: white;
}

.message {
    background-color: black;
    display: block;
    color: white;
}

main {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

table {
    padding: 5% 10% 5% 10%;
    text-align: center;
}

.tableCaption {
    padding-top: 5%;
}

footer {
    display: flex;
    justify-content: center;
    margin: 10px;
}