body {
    background-color: lightgray;
}

nav {
    display: flex;
    background-color: gray;
    color: white;
}

.navitem {
    margin: 10px;
    color: white;
}

.message {
    background-color: black;
    display: block;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    margin: 10px;
}